# Gradle / Kotlin daemon
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/

# NDK / CMake
.cxx/
.externalNativeBuild/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
